/* CSS file: static/src/css/pdf_preview.css */
.o_field_pdf_preview {
  display: inline-block;
}

.pdf-preview-modal .modal-dialog {
  max-width: 90%;
}

.pdf-preview-modal .modal-body {
  padding: 0;
}

.pdf-preview-modal iframe {
  border: none;
  width: 100%;
  height: 100%;
}